{% load static %}
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                {% if user.profile.photo %}
                <img src="{{ user.profile.photo.url }}" class="img-circle" alt="User Image">
                {% else %}
                <img src="{% static 'img/user-default-128x128.jpg' %}" class="img-circle" alt="User Image">
                {% endif %}
            </div>
            <div class="pull-left info">
                <p>{{ user.get_full_name }}</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i
                        class="fa fa-search"></i></button>
              </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            {% for parent in parent_menu %}

                    <li class="treeview">
                        <a href="#">
                            <i class="{{ parent.icon }}"></i> <span>{{ parent.name }}</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>

                        {% children_tag parent user.groups.all.0 %}

                    </li>
            {% endfor %}

        </ul>

    </section>
    <!-- /.sidebar -->
</aside>