<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
      {% include 'base/css.html' %}
      {% block css_link %}{% endblock %}
      {{ form.media }}
  </head>

  <body class='hold-transition skin-blue sidebar-mini'>
    <div class="wrapper">
        {% include 'base/header.html' %}
        {% include 'base/sidebar.html' %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          {% block content %}{% endblock %}
        </div>
        {% include 'base/footer.html' %}
    </div>

    {% include 'base/js.html' %}

    {% block js_link %}{% endblock %}

    {% block js_script %}{% endblock %}

  </body>
</html>