{% extends 'base_portal.html' %}

{% block content %}

    <div class="col-md-8 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom">
        From the Firehose
      </h3>

        {% for article in articles %}
        <div class="blog-post">
            <h2 class="blog-post-title">{{ article.title }}</h2>
            <p class="blog-post-meta">{{ article.input_date }} <a href="#">{{ article.user_input }}</a></p>

            {{ article.content|truncatewords:50|safe }} Read More


        </div><!-- /.blog-post -->
        {% endfor %}

        <nav class="blog-pagination">
            <a class="btn btn-outline-primary" href="#">Older</a>
            <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
        </nav>
    </div>





{% endblock %}