{% extends 'base_portal.html' %}

{% block content %}

    <div class="col-md-8 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom">
        {{ title }}
      </h3>

        {% for article in articles %}
        <div class="blog-post">
            <h2 class="blog-post-title"><a href="{% url 'portals:single' article.slug %}">{{ article.title }}</a></h2>
            <p class="blog-post-meta">{{ article.input_date }} <a href="{% url 'portals:author' article.user_input %}">{{ article.user_input }}</a></p>

            {{ article.content|truncatewords:50|safe }}
            <a href="{% url 'portals:single' article.slug %}">Read More</a>


        </div><!-- /.blog-post -->
        {% endfor %}

        {% include 'navigation.html' %}
    </div>

{% endblock %}