{% extends 'base_portal.html' %}

{% block content %}

    <div class="col-md-8 blog-main">
        <div class="blog-post">
            <h2 class="blog-post-title">{{ article.title }}</h2>
            <p class="blog-post-meta">{{ article.input_date }} <a href="#">{{ article.user_input }}</a></p>

            {% if article.image != '' %}
                <img src="{{ article.image.url }}" class="rounded" alt="" width="95%" />
            {% endif %}

            <p>{{ article.content|safe }}</p>
        </div><!-- /.blog-post -->

        <nav class="blog-pagination">
            {% if next %}
            <a class="btn btn-outline-primary" href="{{ next.slug }}">Newer</a>
            {% else %}
            <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
            {% endif %}

            {% if prev %}
            <a class="btn btn-outline-primary" href="{{ prev.slug }}">Older</a>
            {% else %}
            <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Older</a>
            {% endif %}
        </nav>

        <hr />
        <form role="form" method="post">
            {% csrf_token %}
            <div class="box-body">
                {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
                {% endfor %}
            </div><!-- /.box-body -->

            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

{% endblock %}

{% block js_script %}
<script>

</script>
{% endblock %}